<!-- This launch file sets up the hokuyo ust-30lx lidar and displays lidar /scan data on rviz
     1. Connect data cable of lidar to laptop, 
     2. roslaunch collectData.launch
     3. In another terminal navigate to bags folder by typing "bags"
        I added this line alias bags='cd ~/Reflector-Calibration/intern_ws/src/calibration/bags' in bashrc file
        for easier directory path navigation
     4. rosbag record -O exp_"()".bag /scan 
     5. ctrl-c after collecting enough data -->

<launch>
    <!-- Nodes -->
    <node pkg="urg_node" type="urg_node" name="urg_node" output="screen">
        <param name="ip_address" value="192.168.0.10" />
    </node>

    <!-- RViz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find calibration)/rviz/data.rviz"/>
</launch>
